body{
	background-color: #35a2c9;
	font-family: 'Montserrat';
	height: 75vh;
}

.header-bar{
	height: 100x;
}

.nav{
	position: absolute;
	width: 98%;
	display: block;
	z-index: 90;
	background-color: white;
}

.side-nav{
	position: absolute;
	right: 5px;
	top: 10px;
	padding: 5px;
	font-size: 50px;
}


.header-bar div{			
	text-align: center;
}

.mylink{
	
	display: none;
	padding: 2%;
	width: 96%;
	z-index: 95;
}

.mylink a{
	text-decoration: none;
	color: black;
	
}

.mylink:hover{
	background-color: #35a2c9;
	border-radius: 20px 20px 20px 20px;
	cursor: pointer;
}

#logo{
	height: 100px;
}

.partner-logo{
	display: block;
	height: 30px;
	z-index: 1;
}

.right{
	display: none;
	position: absolute;
	top: 35px;
	right: 100px;
	z-index: 1;
}

.left{
	position: absolute;
	top: 35px;
	left: 25px;
	z-index: 1;
}


.logoimage{
	height: 100%;
	text-align: center;
}

.content-block{
	position: absolute;
	top: 120px;
	height: 100%;
	text-align: center;
}

.slideshow-contatiner{
	
	display: block;
	max-width: 1080px;
	padding: 1%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;

}

.slideshow{
	display: none;
	position: relative;
	width: 80%;
	text-align: center;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
}


.digital-adverts{
	margin-top: 0px;
	width: 100%;
	display: block;
	object-fit: contain;
	padding-bottom: 20px;
}

#advid{
	object-fit: contain;
	margin-top: auto;
	height: 100%;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 20%;
	width: auto;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 70px;
	border-radius: 0 3px 3px 0;
	z-index: 5;
	
}

.prev{
	left: 0;
}

.prev:hover{
	color: #606b6f;
}

.next{
	right: 0;
}

.next:hover{
	color: #606b6f;
}

.overlay{
	width: 100%;
	object-fit: contain;
	position: absolute;
	bottom: 25px;
	z-index: 55;			
	color: white;
	font-size: 25px;
	text-align: center;	
	
}

.overlay a{
	text-decoration: none;	
}

.message{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-weight: 900;
	background: rgba(0, 0, 0, 0.0);
}

.link{
	width: 55%;
	color: #2b3031;
	font-size: 20px;
	font-weight: 900;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 0, 0.9);
	
}

.courses{
	display: block;
	text-align: center;
	width: 96vw;
	margin-left: auto;
	margin-right: auto;
}

.travel{
	display: block;
	text-align: center;
	width: 96vw;
	margin-left: auto;
	margin-right: auto;
}

.content-card{
	display: block;
	width: 350px;
	object-fit: contain;
	margin-top: 8px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	box-shadow: 5px 0px 20px 1px #5e696b;
	font-family: Montserrat;
	font-weight: 900px;
}

.image-banner{
	width: 100%;
}

.link-button{
	background: rgba(255, 255, 0, 0.9);
	padding: 20px;
	font-size: 20px;
	font-weight: 900;
	color: black;
}

.link-button:hover{
	cursor: pointer;
}

.dropdown{
	display: none;
	position: absolute;
	top: 100px;
	background-color: white;
	box-shadow: 5px 0px 20px 1px #5e696b;
	z-index: 99;
}

.content-card a{
	text-decoration: none;
}

.banner-txt{
	font-family: Montserrat;
	color: white;
	font-size: 25px;
	font-weight: 900;
}

.course-name{
	font-size: 20px;
	font-weight: 900;
	height: 50px;
}

.modal{
	display: none;
	position: fixed;
	z-index: 99;
	padding-top: 50px;			
	left: 0;
	top: 0;
	width: 96vw;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	text-align: center;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 100px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.h1{
	font-size: 25px;
}

.course-desription{
	text-align:left;
}

iframe{
	width: 100%;
	height: 70vh;
	border: none;
}

.contact-card{
	display: inline-block;
	background-color: white;			
	width: 70vw;
	box-shadow: 5px 0px 20px 1px #5e696b;
	margin: 5px;
}

.contact-info{
	padding: 5px;
}

.info{
	display: inline-block;
	text-align: center;
	width: 80vw;
	height: 400px;
	background-color: white;
	
}

.input{
	display: inline-block;
	width: 80%;
	padding: 10px;
	margin: 5px;
	background-color: light-grey;
	border: 1px #35a2c9 solid;
	box-shadow: 0px 0px 5px 0px #5e696b;
}

.message-block{			
	height: 180px;
	width: 80%;
	margin: 5px;
	background-color: liht-grey;
	border: 1px #35a2c9 solid;
	box-shadow: 0px 0px 5px 0px #5e696b;
}

.submitButton{
	
}